/* List */
#listArea{
    text-align: center;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;

    gap: 2px;
    overflow-y: scroll;
}

#listArea::-webkit-scrollbar {
    width: 10px;
    background-color: antiquewhite;
}

#listArea::-webkit-scrollbar-thumb {
    width: 10px;
    background-color:   rgb(66, 62, 57);
}


#detailArea+#listArea{
    width: 30%;
    overflow-y: scroll;
}

#detailArea+#listArea #itemArea{
    width: 100%;
}