@font-face {
  font-family: 'ChosunGu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    font-family: 'ChosunGu';
}

#contain{
  display: flex;
  flex-direction: row;
  gap : 2px;
  
  height: 700px;

  padding: 5px 0;


  border : 1px solid salmon
}

#title {
  text-align: center;
  font-size: 40px;
}
#title > h3{
  margin-top:  5px;
  margin-bottom: 30px;
  color: rgb(92, 46, 41);
}
